<h1>Listing email_stats</h1>

<table>
  <tr>
    <th>Postid</th>
    <th>Counter</th>
    <th>Lastsent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @email_stats.each do |email_stat| %>
  <tr>
    <td><%= email_stat.postId %></td>
    <td><%= email_stat.counter %></td>
    <td><%= email_stat.lastsent %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email stat', new_email_stat_path %>
