<table align="center">
  <tr>
    <th>What is Umvox?</th>
    <th>Account</th>
    <th>Company</th>
    <th>Connect With umvox</th>
  </tr>
  <tr>
    <td>Get Started</td>
    <td>Overview</td>
    <td>About Us</td>
    <td>Facebook</td>
  </tr>
  <tr>
    <td><a href="/posts/new">File a Vox</a></td>
    <td>Go Premium</td>
    <td></td>
    <td>Twitter</td>
  </tr>
  <tr>
    <td>Browse a Vox</td>
    <td></td>
    <td>Terms & Privacy</td>
    <td>Newsletter</td>
  </tr>
  <tr>
    <td>Support</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>