<div class="clr"></div>
</div>
</div>
</div>
<div class="clr"></div>
</div>
<div id="footer">

<div class="container">
<div class="footer_1">
<a href="#"><img src="/assets/logo1.png" alt="" title="UmVox" width="172" /></a>
<span class="copyrigth">&copy; 2013 UmVox, Inc.</span>
</div>

	
	<div class="footer_2">
		<ul class='footer_link'>
			<li><span>What is UmVox?</span></li>
			<li><a href="/welcome/howitworks">How It Works</a></li>
			<li><a href="/posts/new">File a Vox</a></li>
			<li><a href="#">Browse Vox</a></li>
			<%#*<li><a href="#">Help & FAQ</a></li>%>
		</ul>
	</div>
	
	<%#*<div class="column">%>
		<%#*<h3>Account</h3>%>
		<%#*<ul>%>
			<%#*<li><a href="#">Overview</a></li>%>
			<%#*<li><a href="#">Go Premium</a></li>%>
		<%#*</ul>%>
	<%#*</div>%>
	
	<div class="footer_3">
		
		<ul class='footer_link'>
		<li><span>About Us</span></li>
			<li><a href="/members/contactus">Contact</a></li>
			<%#*<li><a href="#">Press</a></li>%>
			<%#*<li><a href="#">Jobs</a></li>%>
			<li><a href='/terms'>Terms & Conditions</a></li>
                        <li><a href='/privacy'>Privacy Policy</a></li>
		</ul>
	</div>
	<div class="footer_4">
		
		<ul class="footer_link">
			<li><span>Connect with UmVox</span></li>
			<li>
				<a href="https://www.facebook.com/pages/Umvox/307151169383815"><img width="38" height="39" alt="" src="/assets/fb_t.png"></a>
				<a href="#"><img width="38" height="39" alt="" src="/assets/twi_f.png"></a>
			</li>
			<%#*<li><a href="#"><span class="icon"><img src="/assets/mail_icon.png" alt="" /></span> Newsletter</a></li>%>
            <li><br><div class="fb-like" data-href="https://www.facebook.com/pages/Umvox/307151169383815" data-send="true" data-width="200" data-show-faces="true"></div></li>
		</ul>
	</div>


</div>
<!-- ** container close above -->
</div>

