    <div class="footer">
        <div class="content">
            <div class="branding">
                <h5 class="logo"><a href="index.html" title="UmVox &ndash; You're Voice, Our Fight!">UmVox &ndash; You're Voice, Our Fight!</a></h5>
                <p>UmVox (one voice, in Latin) is the ONLY proactive complaint site that helps you resolve product or customer service issues you've had with companies or organizations!</p>
            </div>
            <div class="sitemap">
                <ul>
					<li><span>Company</span></li>
                    <li><a href="/welcome/howitworks.html" title="What is UmVox?">What is UmVox?</a></li>
					<li><a href="/testimonials.html" title="Testimonials">Testimonials</a></li>
                </ul>
            </div>
            <div class="info">
                <ul>
                    <li><a href="mailto:support@umvox.com?Subject=Hello%20" target="_top">Contact</a></li>
                    <li><a href="/terms.html" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
                    <li><a href="/privacy.html" title="Privacy Policy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="social">
                <ul>
                    <li><a href="https://twitter.com/umvox" class="twitter" title="UmVox on twitter">twitter</a></li>
                    <li><a href="https://www.facebook.com/pages/UmVox/307151169383815" class="facebook" title="UmVox on Facebook">facebook</a></li>
                </ul>
            </div>
            <p class="legal">&copy; 2014 UmVox, Inc.</p>
        </div>
    </div><!-- .footer -->

