<a href="http://twitter.com/share" class="twitter-share-button"路
      	  data-text="I am letting my voice heard <%= post.urlValue %> "路
      	  data-count="horizontal"路
      	  data-url="http://www.umvox.com/"路
      	  data-via="umvox">Tweet </a>
      	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>