<% if post.nil? %>

<a href="http://twitter.com/share" class="twitter-share-button"·
      	  data-count="horizontal"·
      	  data-url="http://www.umvox.com/"·
      	  data-via="umvox">Tweet </a>
      	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<% else %>
        
<a href="http://twitter.com/share" class="twitter-share-button"·
      	  data-text="I am letting my voice heard <%= post.urlValue %> "·
      	  data-count="horizontal"·
      	  data-url="http://www.umvox.com/"·
      	  data-via="umvox">Tweet </a>
      	<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<% end %>        
        