<%#*<div id="howitworks">%>
<div class="content">
  <div class="wrapper">

    <h1>Get Started</h1>
    <br/>
        <div class="left_section_part flt">
    <div class="main">
      <a name="what-is-umvox"><h1 class="title">What is UmVox?</h1></a>
      <br/>
      <div class="body">
        <div class="main_box">
          <p>UmVox is a collective feedback system, which relies on the community to submit their comments (<em>Vox</em> means voice in Latin; so let your Vox be heard!)</p>
          <p>There are three types of voxes you can file:</p>
            <li class="umvox-type">
              <ul><span style="color: #ec674d">Complaint</span></ul>
              <ul><span style="color: #a7c51b">Compliment</span></ul>
              <ul><span style="color: #3982b5">Question</span></ul>
            </li><br><br>
          <p>Once you file a vox, the UmVox team will contact the addressee on your behalf. The days of endlessly waiting for a customer service representative to get back to you are over. Once the addressee responds, you will be notified immediately.<br><br></p>
          <img src="/assets/tell-us.jpg" alt="tell us what happened" style="display: block; margin: 0 auto;">
        </div>
      </div>
    </div>
    <br/>
    <div class="main">
      <a name="filing-a-vox"><h1 class="title">Filing a Vox</h1></a>
      <br/>
      <div class="body">
        <div class="main_box">
          <p>Sharing your voice is the first step in creating a community. <b>First, give your vox a clear and concise title.</b> The best practice is to focus on the facts and leave out the frustration.</p>
          <img src="/assets/title.jpg" alt="give your vox a concise title" style="display: block; margin: 0 auto;">
          <%#*<p><b>Please be as detailed as possible about your situation</b>, but be sure to leave out any personal information since your experience will be visible to everyone. You will be given the opportunity to fill out any order or account information that will only be shared with the addressee in the next step.</p>%>
          <img src="/assets/addressee.jpg" alt="addressee info" style="display: block; margin: 0 auto;">
          <p>Search for the addressee through the UmVox database. If the addressee doesn't exist, you can add the contact information to our database for use by yourself and the rest of our community.</p>
           
        </div>
      </div>
    </div>
<br/>
    <div class="main">
     <a name="follow-up"> <h1 class="title">Follow-up</h1></a>
      <br/>
      <div class="body">
        <div class="main_box">
          <p>The UmVox team will immediately make contact with the addressee and share your vox with them. UmVox will notify you as soon as the addressee responds. You may check the status of filed voxes on your user dashboard.</p>
         <p>If you're satisfied with the resolution offered by the addressee, be sure to write a follow-up response. Your response will help other users similar to your situation and allow you to submit more voxes per month.</p>
          <img src="/assets/my-vox.jpg" alt="check the status of your vox" style="display: block; margin: 0 auto;">
        
          <%#*<p>*Please keep in mind that some companies take longer to respond than others. Unfortunately sometimes even we cannot persuade the addressee to respond to your request. So that is why we urge you to be as clear, concise, and polite as possible to ensure that you get the outcome you are looking for.</p>%>
         
          <%#*<p>However if you are unsatisfied, you can contact them again and continue the negotiation. Please remember to stay cool (<em>you catch more flies with honey than with vinegar</em>).</p>%>
          <%#*<img src="/assets/contact-again.jpg" alt="you may contact the addressee again">%>
        </div>
      </div>
    </div>
<br/>
    <div class="main">
      <a name="grow-a-community"><h1 class="title">Grow a Community</h1></a>
      <br/>
      <div class="body">
        <div class="main_box">
          <p>When you come across a vox that has a similar situation as yours, you may become a backer(supporter) for that vox. The more backers you have on your vox, the easier it is to bring awareness to the addressee.</p>
          <p>Share your experience and solutions by commenting and backing on other people's voxes.</p>
          
          <img src="/assets/backer.jpg" alt="grow a community by inviting backers" style="display: block; margin: 0 auto;">
        </div>
      </div>
    </div>

  </div>
  </div>
<br>
<br/>
<br/>
<%#*<div class="create_vox_form">%>
<%#= form_tag('/users/sign_in',:method=>:get) do%>
  <%#*<div class="left_buttons">%>          
  <%#= button_tag "Get Started", :class=>"left_step_button"%>
  <%#*</div>%>
 <%# end %>
<%#*</div>%>
<br/>
  <div class="sidebar_flr">
    <div id="getstarted-anchor">
      <p><h2><a href="#what-is-umvox">1. What is UmVox?</a></h2><br><h2><a href="#filing-a-vox">2. Filing a Vox</a></h2><br><h2><a href="#follow-up">3. Follow-up</a></h2><br><h2><a href="#grow-a-community">4. Grow a Community</a></h2><br><br>More questions?<a href="contact.html">Contact us</a>.</p>
    </div>
  </div>

  <div class="clr"></div>

</div></div>