    <div class="main">
        <div class="pageHeader">
            <h2 class="title">What is UmVox?</h2>
        </div><!-- .banner -->
        <div class="content">
            <ul class="whatList">
                <li class="itemOne">
                    <h4>What is UmVox?</h4>

                    <p>UmVox is a collective feedback system, which relies on the community to submit their comments (Vox means voice in Latin; so let your Vox be heard!)</p>

                    <p>Once you file a vox, the UmVox team will contact the addressee on your behalf. The days of endlessly waiting for a customer service representative to get back to you are over. Once the addressee responds, you will be notified immediately.</p>
                </li>
                <li class="itemTwo">
                    <h4>Create a Vox</h4>

                    <p>Sharing your voice is the first step in creating a community. First, give your vox a clear and concise title. The best practice is to focus on the facts and leave out the frustration.</p>

                    <p>Search for the addressee through the UmVox database. If the addressee doesn't exist, you can add the contact information to our database for use by yourself and the rest of our community.</p>
                </li>
                <li class="itemThree">
                    <h4>Follow-up</h4>

                    <p>The UmVox team will immediately make contact with the addressee and share your vox with them. UmVox will notify you as soon as the addressee responds. You may check the status of filed voxes on your user dashboard. If you're satisfied with the resolution offered by the addressee, be sure to write a follow-up response. Your response will help other users similar to your situation and allow you to submit more voxes per month.</p>
                </li>
                <li class="itemFour">
                    <h4>Grow a Community</h4>

                    <p>When you come across a vox that has a similar situation as yours, you may become a backer(supporter) for that vox. The more backers you have on your vox, the easier it is to bring awareness to the addressee.</p>
                </li>
            </ul>
            <div class="cta">
                <p>It’s free to join</p>
                <a class="buttonBlue right" href="/users/sign_up" title="sign up">Sign up here</a>
            </div>
        </div><!-- .content -->
    </div><!-- .main -->