 <div class="header_title">
    	<div class="container"><h2>Get Started</h2></div>
    </div>

<div class="step_main_div">
        	<div class="step_main_div_in">
            	<div class="step_main_div_step">1</div>
                <div class="step_main_content_M">
                	<h2 class="step_title_M">What is UmVox?</h2>
                    <div class="step_content_sub">
                   	  <p>
                        UmVox is a collective feedback system, which relies on the community to submit their comments (Vox means voice in Latin; so let your Vox be heard!)<br>
There are three types of voxes you can file:
                        </p>
                        <div class="vox_type_main">
                        	<ul>
                            	<li class="compla_color"><span>Complaint</span></li>
                                <li class="Comp_color"><span>Compliment</span></li>
                                <li class="quest_color"><span>Question</span></li>
                            </ul>
                        </div>
                      <p>Once you file a vox, the UmVox team will contact the addressee on your behalf. The days of endlessly waiting for a customer service representative to get back to you are over. Once the addressee responds, you will be notified immediately.</p>
                        
                        <div class="step_content_img_main">
                   	    <img src="/assets/images/step_1.png" width="435" height="218" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="step_main_div_in">
            	<div class="step_main_div_step">2</div>
                <div class="step_main_content_M">
                	<h2 class="step_title_M">Filing a Vox</h2>
                    <div class="step_content_sub">
                   	  <p>
                        Sharing your voice is the first step in creating a community. First, give your vox a clear and concise title. The best practice is to focus on the facts and leave out the frustration.
                        </p>
                        
                        <div class="step_content_img_main">
                   	    <img src="/assets/images/step_2.png"  alt="">
                        </div>
                        <div class="step_content_img_main">
                   	    <img src="/assets/images/step_3.png" alt="">
                        </div>
                      <p>Search for the addressee through the UmVox database. If the addressee doesn't exist, you can add the contact information to our database for use by yourself and the rest of our community.</p>
                        
                        
                        
                    </div>
                </div>
            </div>
            
            <div class="step_main_div_in">
            	<div class="step_main_div_step">3</div>
                <div class="step_main_content_M">
                	<h2 class="step_title_M">Follow-up</h2>
                    <div class="step_content_sub">
                   	  <p>
                        The UmVox team will immediately make contact with the addressee and share your vox with them. UmVox will notify you as soon as the addressee responds. You may check the status of filed voxes on your user dashboard.<br>

If you're satisfied with the resolution offered by the addressee, be sure to write a follow-up response. Your response will help other users similar to your situation and allow you to submit more voxes per month.</p>
                        
                        <div class="step_content_img_main">
                   	    <img src="/assets/images/step_4.png" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="step_main_div_in">
            	<div class="step_main_div_step">4</div>
                <div class="step_main_content_M">
                	<h2 class="step_title_M">Grow a Community</h2>
                    <div class="step_content_sub">
                   	  <p>
                        When you come across a vox that has a similar situation as yours, you may become a backer(supporter) for that vox. The more backers you have on your vox, the easier it is to bring awareness to the addressee.</p>
                        
                        <div class="step_content_img_main">
                   	    <img src="/assets/images/step_5.png"  alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
              
        </div>
        <div class="bottom_btn_conti">
        <a href="/users/sign_in" class="continues_btn">Contiune <span></span></a>
    	</div>
		
		<%#<div class="sidebar_flr"> %>
    <%#<div id="getstarted-anchor"> %>
     <%# <p><h2><a href="#what-is-umvox">1. What is UmVox?</a></h2><br><h2><a href="#filing-a-vox">2. Filing a Vox</a></h2><br><h2><a href="#follow-up">3. Follow-up</a></h2><br><h2><a href="#grow-a-community">4. Grow a Community</a></h2><br><br>More questions?<a href="contact.html">Contact us</a>.</p>%>
   <%# </div>%>
  <%#</div>%>