    <div class="main">
        <div class="pageHeader">
            <h2 class="title">What is UmVox?</h2>
        </div><!-- .banner -->
        <div class="content">
            <ul class="whatList">
                <li class="itemOne">
                    <h4>What is UmVox?</h4>

                    <p>UmVox is a PROACTIVE complaint site that insures it's user's voices are heard when they are being ignored by a business or corporation they need to comunicate with. We'll take the time to complain for you, so you can get back to the meaningful aspects of your life. The days of endlessly waiting for a customer service rep to get back to you regarding a complaint or inquiry are over!
                    </p>
                    <p>Trivia: Umvox means 'One Voice' in the ancient language Latin!</p>
                 
                </li>
                <li class="itemTwo">
                    <h4>Create a Vox</h4>

                    <p>Sharing your voice is the first step in creating a community. First, give your Vox a clear and concise title. The best practice is to focus on the facts and leave out the frustration.</p>
                </li>
                <li class="itemThree">
                    <h4>Follow-up</h4>

                    <p>The UmVox Team will immediately make contact with the addressee and share your Vox with them. The UmVox Team will notify you as soon as the addressee responds. You may check the status of posted Voxes on your user dashboard.</p>
                </li>
                <li class="itemFour">
                    <h4>Resolve your Vox</h4>

                    <p>Be sure to resolve your Vox and write a brief description of what happened in your case. Your description will help other users in similar situations know what took place and that the Umvox Team is doing its job.</p>
                </li>
                
            </ul>
            <div class="cta">
                <p>It’s free to join</p>
                <a class="buttonBlue right" href="/users/sign_up" title="sign up">Sign up here</a>
            </div>
        </div><!-- .content -->
    </div><!-- .main -->