<body id="privacy">

    <div class="header">
        <div class="content">
            <h1 class="logo"><a href="index.html" title="UmVox &ndash; You're Voice, Our Fight!">UmVox &ndash; You're Voice, Our Fight!</a></h1>
            <a class="searchButton" href="#" title="search">search UmVox</a>
            <div class="searchBar">
                <form accept-charset="UTF-8" action="/posts/search" method="get">
                    <input class="search" id="search" name="search" placeholder="Type your search here..." type="text">
                    <input class="buttonSearch" name="commit" type="submit" value="Search Vox">
                </form>
            </div>
            <ul class="log">
                <li><a class="buttonLog" href="login.html" title="login">login</a></li>
                <li><a class="buttonSign" href="signup.html" title="signup">signup</a></li>
            </ul>
            <ul class="nav">
                <li><a href="what.html" class="what" title="What is UmVox?">What is UmVox?</a></li>
                <li><a href="view.html" class="view" title="View Vox">View Vox</a></li>
                <li><a href="create.html" class="create" title="Create a Vox">Create a Vox</a></li>
                <li><a href="myvox.html" class="myVox" title="My Vox">My Vox</a></li>
            </ul>
        </div>
    </div><!-- .header -->

    <div class="main">
        <div class="pageHeader">
            <h2 class="title">Privacy Policy</h2>
        </div><!-- .banner -->
        <div class="content">

            <h4>1. Our Commitment to Privacy.</h4>

            <p>This notice describes our Privacy Policy. Our privacy policy is designed to advise you about how we collect, use, and protect the personal information you provide. By visiting this site, you are accepting the practices described in this Privacy Policy.</p>

            <h4>2. What Information is Collected.</h4>

            <p>(a) Information You Provide to Us: We collect any information you enter on our site, or that you give us in any other way. You can choose not to provide certain information, but you may not be able to take advantage of our services and features. Certain contact information (including your name, address, email address, and billing address) and financial information (including credit card number and expiration date) is used for billing purposes and to fill your orders.</p>

            <p>(b) Automatic Information: When you visit a website, you disclose certain information, such as your Internet Protocol (IP) address and the time of your visit. This site, like many other sites, records this basic information about visits to our site.</p>

            <p>(c) "Cookies": Cookies are pieces of information that are transferred to your computer from a web server. Most browsers are set up to accept cookies, but you can change your settings to have your browser notify you when you receive a new cookie or to refuse to accept cookies.</p>

            <h4>3. How and When the Information is Used.</h4>

            <p>The information we collect is used for administering our business activities. We may use the information to notify you about changes to our website, new services, or special offers.</p>

            <h4>4. How We Protect Your Information.</h4>

            <p>The privacy and protection of your information is important to us. We do not make any personal information available to third parties without your permission. Your access to some services and content is password protected. We advise that you do not disclose your password to anyone. In addition, we recommend you sign out of password-protected services at the end of your session.</p>

            <h4>5. Who Has Access to the Information.</h4>

            <p>We occasionally hire other companies to provide limited services on our behalf, such as handling the processing and delivery of mailings, providing customer support, hosting websites, processing transactions, or performing statistical analysis of our services. Those service providers will be permitted to obtain only the personal information they need to deliver the service. They are required to maintain the confidentiality of the information and are prohibited from using it for any other purpose than for delivering the service to us in accordance with our instructions and policies. However, our fraud detection vendors may use data to help improve their services. This helps them more accurately detect fraudulent transactions. We may access or disclose information about you, including the content of your communications, in order to: (a) comply with the law or respond to lawful requests or legal process; (b) protect the our rights or property or our customers, including the enforcement of our agreements or policies governing your use of the services; or (c) act on a good faith belief that such access or disclosure is necessary to protect the personal safety of our employees, customers or the public. We may also disclose personal information as part of a corporate transaction such as a merger or sale of assets.</p>  

            <h4>6. Methods We Use to Protect Your Information.</h4>

            <p>We use security software to protect the confidentiality of your financial information. In addition, our business practices are reviewed periodically for compliance with policies and procedures governing the security and confidentiality of our information. Our business practices limit employee access to confidential information, and limit the use and disclosure of such information to authorized persons.</p>

            <h4>7. Children.</h4>

            <p>This website does not provide services or sell products to children under the age of 18. If you are under 18, you may use this website only with the involvement and consent of a parent or guardian.</p>

            <h4>8. How You Can Access Your Information.</h4>

            <p>You can request access to all your personally identifiable information by sending an e-mail to <a href="mailto:support@Umvox.com" title="email UmVox">support@Umvox.com</a>.</p>

            <h4>9. Consent.</h4>

            <p>By using our website, you consent to the collection and use of your personal information as described in this Privacy Policy.</p>

            <h4>10. Changes to Privacy Policy.</h4>

            <p>If our Privacy Policy or procedures change, we will immediately post those changes to our website. Any such changes will be effective immediately upon being posted, unless otherwise stated in the change.</p>

            <h4>11. Effective Date.</h4>

            <p>This Privacy Policy is effective as of March 21, 2013.</p>

        </div><!-- .content -->
    </div><!-- .main -->
</body>