
<h2>TERMS AND CONDITIONS OF USE</h2>
</br>
<p style="font-size: 12px;"><li>Welcome to our website. This site is maintained as a service to our customers. By using this site, you agree to comply with and be bound by the following terms and conditions of use. Please review these terms and conditions carefully. If you do not agree to these terms and conditions, you should not use this site.</li></p>
1. <b> Agreement.</b> 
<ul style="padding-left:20px"></br>
  <li>
   This Agreement, hereinafter "Agreement”, specifies the terms and conditions for access to and use of Umvox.com, hereinafter the "Site", and describes the terms and conditions applicable to your access of and use of the Site. This Agreement may be modified at any time by Petra Business Ventures Corp. upon posting of the modified agreement. Any such modifications shall be effective immediately. You can view the most recent version of these terms at any time at www.umvox.com/termsandconditions. Each use by you shall constitute and be deemed your unconditional acceptance of this Agreement.
  </li>
</ul><br/>
2. <b>Privacy.</b>
<ul style="padding-left:20px"></br>
  <li>
    Your visit to our site is also governed by our Privacy Policy. Please review our Privacy Policy at www.umvox.com/privacy.
  </li>
</ul><br/>
3. <b>Content.  You acknowledge and agree that:</b>
<ul style="padding-left:20px"></br>
  <li>
     (a). All content submitted by you to Petra Business Ventures Corp. for duplication, production, reproduction, or replication whether publicly posted or privately transmitted, is your sole responsibility.  Petra Business Ventures Corp. is not in any way liable for the content you submit or for its duplication, production, reproduction, or replication.
  </li>
  <li>
  	b. Petra Business Ventures Corp. does not control the content originating from you, and Petra Business Ventures Corp. does not guarantee the accuracy, integrity or quality of such content. 
  </li>
  <li>
  	c. You are legally authorized to submit such content for duplication, production, reproduction, or replication, and, by doing so, you warrant that you are not infringing on another person or entity’s applicable copyright, patent, trademark, or proprietary rights.
  </li>
</ul><br/>
4. <b>Ownership.</b>
<ul style="padding-left:20px"></br>
  <li>
     This site is and shall continue to be the property of Petra Business Ventures Corp. or its suppliers and is protected under applicable copyright, patent, trademark, and other proprietary rights. Any copying, redistribution, use or publication by you of any part of this site is prohibited, except as expressly permitted in this Agreement. Under no circumstances will you acquire any ownership rights or other interest in the Site by or through your use of the Site. 
  </li>
 
</ul><br/>
5. <b>Intended Audience.</b>
<ul style="padding-left:20px"></br>
  <li>
   This website is intended for adults only. This website is not intended for any children under the age of 13.
  </li>
</ul><br/>
6. <b>Site Use.  </b>
<ul style="padding-left:20px"></br>
  <li>
	Petra Business Ventures Corp. grants you a limited, revocable, nonexclusive license to use this site solely for your own personal use and not for republication, distribution, assignment, sublicense, sale, preparation of derivative works, or other use. You agree not to copy the site, reverse engineer or break into the site, or use materials, products or services in violation of any law. The use of this website is at the discretion of Petra Business Ventures Corp. and Petra Business Ventures Corp. may terminate your use of this website at any time.
  </li>
</ul><br/>
7. <b>Compliance with Laws.</b> 
<ul style="padding-left:20px"></br>
  <li>
	  You agree to comply with all applicable laws regarding your use of the website. You further agree that information provided by you is truthful and accurate to the best of your knowledge.
  </li>
</ul><br/>
8. <b>Indemnification. </b>
<ul style="padding-left:20px"></br>
  <li>
	 You agree to indemnify, defend and hold Petra Business Ventures Corp. and our partners, employees, and affiliates, harmless from any liability, loss, claim and expense, including reasonable attorney's fees, related to your violation of this Agreement or use of the Site.
  </li>
</ul><br/>
9. <b>Disclaimer.</b>.
<ul style="padding-left:20px"></br>
  <li>
    
 	THE INFORMATION ON THIS SITE IS PROVIDED ON AN "AS IS," "AS AVAILABLE" BASIS. YOU AGREE THAT USE OF THIS SITE IS AT YOUR SOLE RISK. PETRA BUSINESS VENTURES CORP. DISCLAIMS ALL WARRANTIES OF ANY KIND, INCLUDING BUT NOT LIMITED TO ANY EXPRESS WARRANTIES, STATUTORY WARRANTIES, AND ANY IMPLIED WARRANTIES OF: MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. TO THE EXTENT YOUR JURISDICTION DOES NOT ALLOW LIMITATIONS ON WARRANTIES, THIS LIMITATION MAY NOT APPLY TO YOU. YOUR SOLE AND EXCLUSIVE REMEDY RELATING TO YOUR USE OF THE SITE SHALL BE TO DISCONTINUE USING THE SITE.
 
  </li>
</ul><br/>
10. <b>Limitation of Liability.</b>
<ul style="padding-left:20px"></br>
  <li>

UNDER NO CIRCUMSTANCES WILL PETRA BUSINESS VENTURES CORP. BE LIABLE OR RESPONSIBLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL (INCLUDING DAMAGES FROM LOSS OF BUSINESS, LOST PROFITS, LITIGATION, OR THE LIKE), SPECIAL, EXEMPLARY, PUNITIVE, OR OTHER DAMAGES, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN ANY WAY RELATING TO THE SITE, YOUR SITE USE, OR THE CONTENT, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SITE AND/OR CONTENT IS TO CEASE ALL OF YOUR SITE USE.<br/>
 
You may have additional rights under certain laws (including consumer laws) which do not allow the exclusion of implied warranties, or the exclusion or limitation of certain damages. If these laws apply to you, the exclusions or limitations in this Agreement that directly conflict with such laws may not apply to you.

  </li>
</ul><br/>

11. <b>Use of Information. </b>
<ul style="padding-left:20px"></br>
  <li>
	Petra Business Ventures Corp. reserves the right, and you authorize us, to use and assign all information regarding site uses by you and all information provided by you in any manner consistent with our Privacy Policy.
  </li>
</ul><br/>


12. <b>Copyrights and Copyright Agent.</b>
<ul style="padding-left:20px"></br>
  <li>
If you believe your work has been copied in a way that constitutes copyright infringement, please provide a notice containing all of the following information to Petra Business Ventures Corp.:
  </li>
 
  <li>
  (a) An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;
 </li>

  <li>
(b) A description of the copyrighted work that you claim has been infringed;
 </li>
  <li>
(c) A description of where the material that you claim is infringing is located on the Site;
 </li>
  <li>
(d) Your address, telephone number, and e-mail address;
 </li>
  <li>
(e) A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
 </li>
  <li>
(f) A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
 </li>
  <li>
By Mail:  Petra Business Ventures Corp.
                 28635 Fenwick Way,
                 Highland, CA 92346
By e-mail: CustomerSupport@Umvox.com
</li>
</ul><br/>


13. <b>Applicable Law.</b>
<ul style="padding-left:20px"></br>
  <li>

 You agree that the laws of the state of California, without regard to conflicts of laws provisions will govern these Terms and Condition of Use and any dispute that may arise between you and Petra Business Ventures Corp. or its affiliates.
<br/>
Any action or proceeding related to or arising out of any dispute between you and Petra Business Ventures Corp. or its affiliates shall be brought and maintained exclusively in a court of competent jurisdiction in the County of San Bernardino, California.
 
  </li>
</ul><br/>


14. <b>Severability.</b>
<ul style="padding-left:20px"></br>
  <li>
	 If any provision of this Agreement shall be adjudged by any court of competent jurisdiction to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that this Agreement will otherwise remain in full force and effect.
  </li>
</ul><br/>


15. <b>Termination.</b>
<ul style="padding-left:20px"></br>
  <li>
 Petra Business Ventures Corp. may terminate this Agreement at any time, with or without notice, for any reason.
  </li>
</ul><br/>


16. <b>Severability.</b>
<ul style="padding-left:20px"></br>
  <li>
Contact Information.

HOW TO CONTACT US:<br/>

Petra Business Ventures Corp.<br/>
28635 Fenwick Way,<br/>
Highland, CA 92346<br/>
CustomerSupport@Umvox.com<br/>

  </li>
</ul><br/>

</div>
</div>