    <div class="main">
        <div class="pageHeader">
            <h2 class="title">Our users Love us !!</h2>
        </div><!-- .banner -->
        <div class="content">
            <ul class="testimonialsFull">
            	<li>
            		<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/hashtag/madrespect?src=hash">#madrespect</a> to <a href="https://twitter.com/umvox">@umvox</a> they were very helpful in resolving an issue with <a href="https://twitter.com/Dropcam">@Dropcam</a>. Everything seemed quicker once they got involved! <a href="https://twitter.com/hashtag/thanks?src=hash">#thanks</a></p>&mdash; Anders Holmvik (@Blonders5) <a href="https://twitter.com/Blonders5/status/514269501559296001">September 23, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            	</li>
            	<li>
            		<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/Starbucks">@Starbucks</a> <a href="https://twitter.com/umvox">@umvox</a> Thank you for resolving my bad service complaint. <a href="https://twitter.com/hashtag/Starbucks?src=hash">#Starbucks</a> was fast to answer and follow up with me. :-)</p>&mdash; Irving (@IrvingSays) <a href="https://twitter.com/IrvingSays/status/514096512599883776">September 22, 2014</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            	</li>
            	<li>
            		<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/umvox">@umvox</a> Thanks for your help!!! Hopefully I dont have any more bad customer service...If I do, I am coming back for more help =) <a href="https://twitter.com/hashtag/awesome?src=hash">#awesome</a></p>&mdash; C Nguyen (@cnstudent) <a href="https://twitter.com/cnstudent/status/512711459151704064">September 18, 2014</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>
				<li>
					<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/umvox">@umvox</a> Issue resolved thanks to a little relentless abuse. Thanks for the help and concern. Will recommend your site.</p>&mdash; Neil O&#39; Sullivan (@NeilOs12) <a href="https://twitter.com/NeilOs12/status/509848953291288576">September 10, 2014</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>
				<li>
					<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/nsmartinworld">@nsmartinworld</a> <a href="https://twitter.com/umvox">@umvox</a> <a href="https://twitter.com/Sears">@Sears</a> Update!! Sears did the right thing and gave my mom a new frig!! Thanks <a href="https://twitter.com/Sears">@sears</a> and twitter!! <a href="https://twitter.com/hashtag/hAppy?src=hash">#hAppy</a> <a href="https://twitter.com/hashtag/lovemymom?src=hash">#lovemymom</a></p>&mdash; LC (@LCV77) <a href="https://twitter.com/LCV77/status/506281566839242753">September 1, 2014</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>
				<li>
					<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/umvox">@umvox</a> thank you for your help in getting my <a href="https://twitter.com/hashtag/tomtom?src=hash">#tomtom</a> issue sorted. i now have my refund underway! <a href="https://twitter.com/hashtag/umvoxtotherescue?src=hash">#umvoxtotherescue</a></p>&mdash; Deena Chauhan (@deenachauhan) <a href="https://twitter.com/deenachauhan/status/504199946414063616">August 26, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>
				<li>
					<blockquote class="twitter-tweet" lang="en"><p>UmVox is the ONLY proactive website that listens &amp; helps resolve your <a href="https://twitter.com/hashtag/customerservice?src=hash">#customerservice</a> issues, all for FREE! <a href="https://twitter.com/umvox">@umvox</a> <a href="https://twitter.com/hashtag/ux?src=hash">#ux</a> <a href="https://twitter.com/hashtag/startups?src=hash">#startups</a></p>&mdash; Yvette Parker (@BusinessMinder1) <a href="https://twitter.com/BusinessMinder1/status/501875365540016128">August 19, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>
				<li>
					<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/NovellaRob">@NovellaRob</a> <a href="https://twitter.com/umvox">@umvox</a> <a href="https://twitter.com/MichaelKors">@MichaelKors</a> UmVox are amazing! Thanks so much for recommending them, received a voucher for new watch! <a href="https://twitter.com/hashtag/success?src=hash">#success</a> <a href="https://twitter.com/hashtag/umvox?src=hash">#umvox</a></p>&mdash; Stephanie Nicolaides (@StephNicolaides) <a href="https://twitter.com/StephNicolaides/status/494443722210553856">July 30, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>



                <li>
				  <blockquote class="twitter-tweet" data-conversation="none" lang="en"><p>thank you <a href="https://twitter.com/umvox">@umvox</a> for all the help you&#39;ve been giving me re: my dads phone line with <a href="https://twitter.com/Verizon">@Verizon</a>. I am finally being heard! <a href="https://twitter.com/hashtag/youguysrock?src=hash">#youguysrock</a></p>&mdash; hayley helmreich (@monkipie) <a href="https://twitter.com/monkipie/statuses/481226465820688384">June 24, 2014</a></blockquote>
				  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </li>
                <li>
					<blockquote class="twitter-tweet" data-conversation="none" lang="en"><p><a href="https://twitter.com/umvox">@umvox</a> Thanks so much for helping me resolve the issue with <a href="https://twitter.com/hashtag/Sprint?src=hash">#Sprint</a>, not only were you helpful but very supportive! <a href="https://twitter.com/hashtag/ThankYou?src=hash">#ThankYou</a> <a href="https://twitter.com/hashtag/GreatService?src=hash">#GreatService</a></p>&mdash; Karina ❤ (@KariKari707) <a href="https://twitter.com/KariKari707/statuses/480094172792119296">June 20, 2014</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </li>
                <li>
					<blockquote class="twitter-tweet" data-conversation="none" lang="en"><p><a href="https://twitter.com/umvox">@umvox</a> thank you so much, you guys ROCK!! They called me from the President&#39;s office to address the problem <a href="https://twitter.com/hashtag/UmVoxRocks?src=hash">#UmVoxRocks</a></p>&mdash; Lavinia&#39;s World (@laviniainmiami) <a href="https://twitter.com/laviniainmiami/statuses/477598654446829568">June 13, 2014</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </li>
				<li>
					<blockquote class="twitter-tweet" data-conversation="none" lang="en"><p><a href="https://twitter.com/umvox">@umvox</a> as always, champion to the people!!! 👏👏👏</p>&mdash; Marc Aquilina (@londondoghouse) <a href="https://twitter.com/londondoghouse/statuses/474402889226809344">June 5, 2014</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>
				<li>
					<blockquote class="twitter-tweet" lang="en"><p>To my amazement <a href="https://twitter.com/hashtag/Umvox?src=hash">#Umvox</a> actually got Canon to effectively deal with my complaint. Thanks! <a href="https://twitter.com/umvox">@umvox</a></p>&mdash; Nicolas Martin (@nsmartinworld) <a href="https://twitter.com/nsmartinworld/statuses/473934443665580032">June 3, 2014</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>
				<li>
					<blockquote class="twitter-tweet" data-conversation="none" lang="en"><p><a href="https://twitter.com/umvox">@umvox</a> This is awesome!! I just submitted my Vox, this is the type of customer service expected in 2014! Thumbs up!</p>&mdash; Abby Ashton (@abbycashton) <a href="https://twitter.com/abbycashton/statuses/454435825833766912">April 11, 2014</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>
				<li>
					<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/umvox">@umvox</a> Thank You for the Help with my Les Schwab Issue. everything is getting taken care of</p>&mdash; Roger Pico (@MrPico65) <a href="https://twitter.com/MrPico65/statuses/441980744341016576">March 7, 2014</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>
            </ul>
        </div><!-- .content -->
    </div><!-- .main -->

 