 <table border="0" id="browse_search_result" cellspacing="0" cellpadding="0">
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th>Total Vox</th>
		  </tr>
        <% locationGroupByName.keys.each do |key| %>
          <tr>
            <%#= link_to category.name,"/posts/browse?type=category&search="+category.name %>
            <td><p><b><%= link_to locationGroupByName[key][2],"/posts/list?address="+key+"&name="+locationGroupByName[key][2]  %></b></p><%=  key %></td>
            <td><%=  locationGroupByName[key][1] %></td>
            <td><%= locationGroupByName[key][0] %></td>
          </tr>
        <% end %>
      </table>