<html>
  
  <body>
    <p id="notice"><%= notice %></p>
    <h1>My Vox</h1>

   <br/>
 
   
<table border="0" style="border-width: 1px; border-color:#000000; border-style: solid;" width="100%" >   
<% @openumvox.each do |post| %>

  <%= render "displaymypost", :post=>post %>            

<% end %>
</table>    
<h2>Resolved Vox</h2>  

<% @closeumvox.each do |post| %>
<%= render "displaymypost", :post=>post %>            

<% end %>

<br />

  </body>
  
</html>