 <h1 class="vox_title" ><%= params[:name] %></h1>
		  <div class="address_info">
		       <%= params[:address]  %>
		  </div>     
		  <div class="left_section_part flt">
		       <div class="main">
			        <div class="tabs">
					    <span class="total tab_ttl">Total voxes : <%= @posts.size %></span><br/>
						   <select class="select_box">
						       <option>See all voxes</option>
							   <option></option>
						   </select>
					</div>
					<div class="body">
					     <div class="main_box">
						<% @posts.each do |post|%>
      <%= render "/layouts/displaydashboardpost", :post=>post %>            
<% end %>
			  
		  </div>
                                        </div>
		   <%#*<div class="sidebar flr">%>
			  <%#*<div class="brown_box">%>
				<%#*<div class="head">%>
				  <%#*<h2>Raise your voice!</h2>%>
				<%#*</div>%>
				<%#*<div class="body job">%>
				  <%#*<p class="margin">Are they doing a good job? Let them know!</p>%>
				  <%#*<a class="upgrade" href="#"><img src="images/l_m_btn.png"></a>%>
				<%#*</div>%>
			  <%#*</div>%>			 
		  <%#*</div>%>
		              
		  <%#*<div class="clr"></div>%>