<div class="left_section">
<div class="form_header">
<h1 class="flt">File a Vox</h1>
<ul class="steps flr">
	<li class="active"><a href="#">Step 1</a></li>
	<li class="arrow grey"></li>
	<li><a href="#">Step 2</a></li>
	<li class="arrow grey"></li>
	<li><a href="#">Step 3</a></li>
</ul>
</h1>
</div>
<%= render 'form' %>


<div class="sidebar flr">
	<div class="brown_box">
		<div class="head">
			<h2>DOES THIS LOOK FAMILIAR?</h2>
		</div>
		<div class="body">
			<p><strong>Back this vox up.<br>
Let other people know that you are in the same situation, and be a part of our community.</strong></p>
			<div class="entry">
				<h3>Staples</h3>
				<p>Staples cancelled my laptop order without informing me.</p>
			</div>
			<div class="entry">
				<h3>Target</h3>
				<p>Misleading coupon wasted $70.</p>
			</div>
			<div class="entry">
				<h3>Office Max</h3>
				<p>Office Max employee was very rude. Extremely poor customer service.</p>
			</div>
			<div class="entry">
				<h3>Staples</h3>
				<p>Staples cancelled my laptop order without informing me.</p>
			</div>
		</div>
	</div>
	<div class="brown_box">
		<div class="head">
			<h2>UPGRADE TO PREMIUM</h2>
		</div>
		<div class="body">
			<p><strong>Get more features by becoming a premium member today:</strong></p><br>
			<p><strong>- Submit private complaints</strong></p>
			<p><strong>- Unlimited emails to make sure you are heard</strong></p>
			<p><strong>- Anonymous</strong></p><br>
			<a href="#" class="upgrade">Upgrade</a>
		</div>
	</div>
</div>
