<div class="content">
<div class="wrapper">
  
  
<img src="/assets/thankyou.jpg" style="">
<div style="text-align: right;"><%= render "/shared/tweet_button",:post =>@post %>   <div class="fb-like" data-href="https://umvox.com/<%=  session[:postid] %>" data-send="true" data-width="400" data-show-faces="true"></div></div>

<br/>
  <div class="independent">      <form accept-charset="UTF-8" action="/members/dashboard" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <div class="left_buttons">          
          <%= button_tag "Continue", :class=>"left_step_button"%>
        </div>
      </form>
  </div>  
    </div>

  </div>

<div class="clr"></div>
<%#*</div>%>
<%#*</div>%>