<img src="/assets/vox1.png" alt="" title="UmVox" />

<img src="/assets/vox2.png" alt="" title="UmVox" />

<div class="create_vox_form">
<%= form_tag('/members/dashboard',:method=>:get) do%>
  <div class="left_buttons">          
  <%= button_tag "Continue", :class=>"left_step_button"%>
  </div>
 <% end %>
</div>