
<div class="main">
        <div class="pageHeader">
            <h2 class="title">Ready to resolve Vox !!</h2>
        </div><!-- .banner -->
        <div class="content">
			<%= form_for @post ,:html=>{:class => "form"} do |f| %>
				<%= f.hidden_field :status ,:value=>"Resolved"%>
            <ul class="inputs">
				<li><label><b>How was your Vox resolved ?</b></label></li>
              <li class="item">
				   <%= f.text_area :resolve_vox,:class=>"inp_area", :placeholder=>"Please write a brief description of what happened with your Vox. Your description will help other users in similar situations to know what took place and how the Umvox helped in getting resolved." %>
				</li>	
				<%= f.submit "Resolve Vox" , class: "buttonBlue"%>
			</ul>
				<% end %>
        </div><!-- .content -->
    </div><!-- .main --> 