html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}html{-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{line-height:1;letter-spacing:0;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);zoom:1;-webkit-font-smoothing:subpixel-antialiased;font-smoothing:subpixel-antialiased;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ul,nav ul{list-style:none;margin:0;padding:0}blockquote,q{quotes:none}q:after,q:before,blockquote:after,blockquote:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}a,a:focus,a:hover,a:active,a:visited,a:selected{border:none;outline:none;outline:0;text-decoration:none}:focus,::selection,::-moz-selection{outline:0;background:transparent;color:#fff;text-shadow:none}a[href^=tel]{color:inherit;text-decoration:none}img{border:0;border:none;-ms-interpolation-mode:bicubic}a img,:link img,:visited img{border:none;border:0}svg:not(:root){overflow:hidden}hr{display:block;height:1px;border:0;border-top:1px solid #000;margin:1em 0;padding:0}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0;font-size:inherit;font:100%}strong{font-weight:bold}input,select{vertical-align:middle}label,input,table,select,button,textarea{-webkit-appearance:none;-moz-appearance:none}button,input[type="reset"],input[type="submit"],input[type="button"]{cursor:pointer;-webkit-appearance:button}input[type="radio"],input[type="checkbox"]{box-sizing:border-box}input[type="search"]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0}

::selection {background: transparent; color: #45b3bd;}
::-moz-selection {background: transparent; color: #45b3bd;}

* {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

html, body {margin: 0; padding: 0;}
body {background-color: #f7f7f7; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; color: #323232; webkit-font-smoothing: subpixel-antialiased; -webkit-text-size-adjust: none; font-weight: normal;}

.content {width: 960px; margin: 0 auto; height: auto; overflow: hidden;}

/* HEADER */
.header {width: 100%; z-index: 99999; background: #45b3bd; height: 60px; position: fixed; top: 0; left: 0; display: block; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
.header .logo {width: 78px; float: left; height: 42px; margin: 8px 10px;}
.header .logo a {width: 78px; float: left; height: 42px; color: #45b3bd; background: url(/assets/img/logo_small.png) 0 0 no-repeat; background-size: 78px 42px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease;}
.header .logo a:hover {-webkit-transform: scale(0.9); moz-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9);}

.header .nav {float: right;}
.header .nav li {font-size: 14px; float: left; font-weight: bold; margin: 0 0 0 18px;}
.header .nav li:first-child {margin: 0;}
.header .nav li a {color: #fff; text-decoration: none; height: 60px; padding: 0 0 3px 0; line-height: 60px; position: relative;}
.header .nav li a:after {content: ''; border-bottom: 3px solid transparent; position: absolute; top: 20px; margin-left: 50%; width: 0%; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; display: block;}
.header .nav li a:hover:after {border-bottom: 3px solid #fff; margin-left: 0; display: block; color: transparent; width: 100%; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; display: block;}

/* sticky nav */
#what .header .nav li a.what:after,
#view .header .nav li a.view:after,
#create .header .nav li a.create:after,
#myVox .header .nav li a.myVox:after,
#dashboard .header .nav li a.dashboard:after {border-bottom: 3px solid #fff; margin-left: 0; display: block; color: transparent; width: 100%; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; display: block;}

.header .log {float: right; margin: 14px 2px 0 18px;}
.header .log li {font-size: 14px; float: left; font-weight: bold; margin: 0 0 0 12px;}
.header .log li:first-child {margin: 0;}
.header .log li a {text-decoration: none;}

.header .searchButton {margin: 0 0 0 10px; width: 52px; height: 60px; float: right; display: block; background: transparent url(/assets/img/icon_search.png) center center no-repeat; background-size: 22px 22px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
.header .searchButton:hover,
.header .searchButton:focus,
.header .searchButton:active,
.header .searchButton.open {background: #fff url(/assets/img/icon_search_active.png) center center no-repeat; background-size: 22px 22px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}

.header .searchBar {background: #fff; overflow: hidden; width: 960px; height: 0px; position: absolute; top: 60px; left: 50%; margin-left: -480px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
.header .searchBar.open {height: 60px; -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,0.07); -moz-box-shadow: 0 3px 3px -2px rgba(0,0,0,0.07); box-shadow: 0 3px 3px -2px rgba(0,0,0,0.07); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
.header .searchBar form {width: 100%; height: 60px; padding: 5px; background: #fff;}
.header .searchBar form .search {float: left; border: none; outline: none; height: 50px; width: 85%; background: #fff; padding: 0 10px; font-size: 14px; font-style: italic; color: #b3b3b3;}

/* HEADER - home page */
#home .header {z-index: 99999; width: 100%; background: #45b3bd; height: 60px position: fixed; top: -60px; left: 0; display: block; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
#home .header.open {display: block; top: 0px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}

/* SPLASH - home page */
.splash {height: 600px; width: 100%; position: relative; background: #45b3bd url(/assets/img/bg_splash.jpg) center center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
.splash .branding {width: 277px; height: 168px; top: 50%; left: 50%; margin: -84px 0 0 -138.5px; position: absolute; background: transparent url(/assets/img/logo_large.png) center center no-repeat; background-size: 277px 168px;}

/* INTRO - home page */
.intro {height: auto; width: 100%; background: #e6e6e6;}
.intro h3 {text-align: center; font-size: 48px; font-weight: bold; margin: 50px 0 0;}
.intro p.txt {text-align: center; font-size: 16px; line-height: 24px; width: 640px; margin: 30px auto;}

/* HOW TO - home page */
.howTo {height: auto; width: 100%; background: #44b2bc; padding: 0 0 94px 0;}
.howTo h3 {text-align: center; font-size: 48px; font-weight: bold; margin: 50px 0 0; color: #fff;}
.howTo .col {width: 241px; float: left; margin: 0 38px;}

/* MAIN CONTENT */
.main {width: 100%; height: auto; overflow: hidden; min-height: 400px; margin: 60px 0 0;}
.main .content {padding: 40px 0 60px 0;}

#home .main {margin: 0;}

#what .main .content,
#privacy .main .content,
#terms .main .content {width: 50%;}

#create .main .content,
#dashboard .main .content,
#contact .main .content,
#login .main .content,
#signup .main .content {width: 40%;}

.main .column {width: 49%; margin: 0 0 30px 0;}
.main .column.wide {width: 70%; padding: 0 20px;}
.main .column.thin {width: 30%; padding: 0 20px;}

.main .complaint {}

.main .complaintComment {background: #fff; padding: 20px; margin: 20px 0 0; text-align: left;}
.main .complaintComment h3 {text-align: left; font-size: 18px; margin: 0;}
.main .complaintComment p {margin: 10px 0 0;}
.main .complaintComment p.user {font-weight: bold;}
.main .complaintComment p.user span {font-weight: normal;}

.main .complaintInfo {background: #fff; padding: 20px; text-align: left; height: auto; overflow: hidden;}
.main .complaintInfo dl {width: 100%; height: auto; overflow: hidden; font-size: 13px; line-height: 17px;}
.main .complaintInfo dl dt {font-weight: bold; float: left; margin: 2px 0 0; clear: both;}
.main .complaintInfo dl dd {float: left; margin: 2px 0 0 5px;}
.main .complaintInfo dl dd.break {margin: 2px 0 15px 5px;}
.main .complaintInfo .buttonBlue {font-size: 16px; min-width: auto; margin: 10px 0;}

.main h2 {line-height: 210px; text-align: center; color: #fff; font-weight: bold; font-size: 48px; height: auto; overflow: hidden;}
.main .complaint h2 {text-align: left; color: #323232; font-weight: bold; font-size: 36px; line-height: 40px; height: auto; overflow: hidden;}
.main h3 {color: #323232; font-size: 24px; text-align: center; margin: 0 0 10px 0; font-weight: bold;}
.main h4 {color: #323232; font-size: 18px; text-align: left; font-weight: bold; margin: 20px 0 0;}
.main p {color: #323232; font-size: 14px; line-height: 18px; margin: 20px 0 0;}
.main p > a {font-size: 14px; color: #45b3bd; text-decoration: underline; line-height: 18px;}
.main ul {margin: 20px 0 0;}
.main ul li {color: #323232; font-size: 14px; line-height: 18px; margin: 0 0 5px 0;}

.sign_in_fb {padding: 30px; text-align: center;}
.sign_in_fb form {width: 100%; height: auto; overflow: hidden; float: left;}
.sign_in_fb form #signin_button {}
.sign_in_fb form #signin_button input[type="image"] {}

.search_form {display: table; margin: 0 auto 30px auto;}
.search_form form {width: 100%; height: auto; padding: 5px; overflow: hidden;}
.search_form form .box_text {float: left; height: 66px; width: 540px; padding: 0 10px; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; background: #fff; color: #b3b3b3; border: 1px solid #b3b3b3; font-size: 14px; outline: none; display:block; float:left; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.search_form form .buttonBlue {margin: 0 0 0 15px; max-height: 66px; padding: 19px 32px;}
.search_form form .box_text:focus,
.search_form form .box_text:active {background: #fff; color: #45b3bd; border: 1px solid #45b3bd;-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}

.main p.or {font-size: 14px; color: #939393; position: relative; padding: 0 38px; display: table; margin: 30px auto 0 auto;}
.main p.or:before,
.main p.or:after {position: absolute; top: 9px; content: ""; border-top: 1px solid #939393; height: 1px; width: 28px; display: block;}
.main p.or:before {left: 0;}
.main p.or:after {right: 0;}

.form {width: 100%; height: auto; overflow: hidden; margin: 0 auto;}
.form p {text-align: center; margin: 0 auto; display: table;}
.form p.txt {text-align: left; margin: 10px 0 20px 0 ; color: #939393; width: 100%; float: left;}
.form a {text-decoration: underline; color: #45b3bd; text-align: center; margin: 0 auto;}
.form ul.inputs li.item {width: 100%; height: auto; overflow: hidden; display: block; position: relative; margin: 0 0 20px 0;}

form :-moz-placeholder {color: #b3b3b3;}
form ::-moz-placeholder {color: #b3b3b3;}
form :-ms-input-placeholder {color: #b3b3b3;}
form ::-webkit-input-placeholder {color: #b3b3b3;}

.form label {font-size: 18px; color: #939393; float: left; margin: 0 0 10px 0; width: 100%; display: block; font-weight: bold;}
.form textarea {margin: 0; width: 100%; max-width: 100%; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; background: #fff; color: #b3b3b3; padding: 6px 8px 6px 8px; border: 1px solid #b3b3b3; font-size: 14px; display: block; float: left; margin: 0 auto; min-height: 280px; line-height: 21px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; outline: none;}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {margin: 0; width: 100%; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; background: #fff; color: #b3b3b3; line-height: 20px; border: 1px solid #b3b3b3; padding: 2px 8px 2px 8px; height: 50px; font-size: 14px; outline: none; display:block; float:left; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.form legend {font-size: 18px; color: #939393; float: left; margin: 0; width: 100%; display: block; font-weight: bold;}
.form .select-wrap {display: block; width: 100%; height: 50px; margin: 0; overflow: hidden; border: none;  float: left;}
.form .select-wrap .select {background-size: 22px 11px; background: #fff url(/assets/img/form_select.png) no-repeat 98% center; cursor: pointer; width: 100%; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; color: #b3b3b3; line-height: 20px; border: 1px solid #b3b3b3; padding: 2px 8px 2px 8px; height: 50px; font-size: 14px; outline: none; display:block; float:left; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}

.form input[type="file"] {width: 100%; float: left; margin: 5px 0;}
 
.form .checkboxes {width: 100%; float: left; height: auto; overflow: hidden; margin: 20px 0;}
.form .checkboxes li.check {display: block; height: 18px; overflow: hidden; width: 33.3333%; position: relative; float: left;}
.form .checkboxes li.check.full {width: 100%;}
.form .checkboxes li.check >input {float: left; padding: 0; margin: 0; height: 18px; width: 18px; position: absolute; opacity: 0; display: block; cursor: pointer;}
.form .checkboxes li.check >label {float: left; font-weight: normal; line-height: 16px; font-size: 14px; padding: 0 0 0 25px; display: block; margin: 0;}
.form .checkboxes li.check:not(#foo) >input ~ label {background:url(/assets/img/form_checkbox.png) 0 0 no-repeat; height: 20px; background-size: 18px 38px; display: block}
.form .checkboxes li.check:not(#foo) >input[type="checkbox"] ~ label,
.form .checkboxes li.check:not(#foo) >input[type="checkbox"]:focus ~ label {background-position: 0 0}
.form .checkboxes li.check:not(#foo) >input[type="checkbox"]:checked ~ label,
.form .checkboxes li.check:not(#foo) >input[type="checkbox"]:focus:checked ~ label,
.form .checkboxes li.check:not(#foo) >input[type="checkbox"]:focus:checked ~ label,
.form .checkboxes li.check:not(#foo) >input[type="checkbox"]:active ~ label,
.form .checkboxes li.check:not(#foo) >input[type="checkbox"]:active:checked ~ label {background-position: 0 -20px;}

.form textarea:focus,
.form textarea:active,
.form input[type="text"]:focus,
.form input[type="text"]:active,
.form input[type="email"]:focus,
.form input[type="email"]:active,
.form input[type="password"]:focus,
.form input[type="password"]:active {background: #fff; color: #45b3bd; border: 1px solid #45b3bd;-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
.form .select-wrap .select:focus,
.form .select-wrap .select:active {background: #fff url(/assets/img/form_select_active.png) no-repeat 98% center; background-size: 22px 11px; color: #45b3bd; border: 1px solid #45b3bd;-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}

.form .buttonBlue {margin: 25px auto 40px auto; display: table;}

.voxes {width: 100%; height: auto; overflow: hidden; float: left;}
.voxes li {width: 100%; float: left; margin: 0 0 20px 0;}
.voxes .vox {font-size: 13px; color: #fff; padding: 15px 32px; height: auto; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; margin: 0 0 19px 0; position: relative; width: 100%; float: left;}
.voxes .vox:after {content: ""; width: 44px; height: 19px; position: absolute; bottom: -19px; left: 15px;}
.voxes .vox.open {background: #e96656;}
.voxes .vox.open:after {background: transparent url(/assets/img/vox_flash_open.png) 0 0 no-repeat; background-size: 44px 19px;}
.voxes .vox.resolved {background: #b2d237;}
.voxes .vox.resolved:after {background: transparent url(/assets/img/vox_flash_resolved.png) 0 0 no-repeat; background-size: 44px 19px;}

.voxes .vox .type {width: 50%; float: left; font-size: 14px; font-weight: bold; margin: 0; color: #fff;}
.voxes .vox .date {width: 50%; float: left; text-align: right; margin: 0; color: #fff;}
.voxes .vox .text {width: 100%; float: left; font-size: 18px; color: #fff; line-height: 24px; font-weight: bold; margin: 15px 0 0; height: 50px; max-height: 50px; overflow: hidden;}
.voxes .vox .text .read {text-align: right; color: #fff; text-decoration: underline; font-size: 13px; font-weight: normal; margin: 0 0 0 5px;}

.voxes .vox dl {width: 50%; float: left; margin: 15px 0 10px 0; line-height: 1;}
.voxes .vox dl dt {float: left; clear: both; margin: 0 0 3px 0; line-height: 1;}
.voxes .vox dl dd {float: left; font-weight: bold; margin: 0 0 3px 5px; line-height: 1;}

ul.whatList {width: 100%; height: auto; overflow: hidden; float: left; margin: 20px 0 40px 0;}
ul.whatList li {padding: 0 0 0 80px; width: 100%; height: auto; overflow: hidden; float: left; margin: 0 0 20px 0;}
ul.whatList li.itemOne {background: url(/assets/img/list_item_one.png) left top no-repeat; background-size: 60px 60px;}
ul.whatList li.itemTwo {background: url(/assets/img/list_item_two.png) left top no-repeat; background-size: 60px 60px;}
ul.whatList li.itemThree {background: url(/assets/img/list_item_three.png) left top no-repeat; background-size: 60px 60px;}
ul.whatList li.itemFour {background: url(/assets/img/list_item_four.png) left top no-repeat; background-size: 60px 60px;}

.stageOne,
.stageTwo,
.stageThree {height: auto; overflow: hidden; width: 100%; float: left;}

.stageOne img,
.stageTwo img,
.stageThree img {display: table; margin: 30px auto; display: block;}

/* INTERNAL PAGE TITLE */
.pageHeader {height: 210px; width: 100%; position: relative; background: #45b3bd url(/assets/img/bg_pagetitle.png) center center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/* CATEGORIES */
.categories {width: 96%; height: auto; overflow: hidden; margin: 0 auto 40px auto;}
.categories .items {float: left; width: 16.6666%; font-size: 14px; line-height: 18px;}
.categories .items li {margin: 0 0 3px 0;}
.categories .items li a {text-decoration: none; color: #323232;}
.categories .items li a:hover {text-decoration: underline;}

/* BANNER */
.banner {height: auto; padding: 100px 50px; width: 100%; position: relative; background: #45b3bd url(/assets/img/banner_faces_tall.jpg) center center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
.banner .slogan {color: #fff; font-weight: bold; text-align: center; font-size: 48px; line-height: 52px; width: 60%; margin: 0 auto; height: auto; overflow: hidden;}

/* TESTIMONIALS */
.testimonials {background: #e6e6e6; min-height: 300px; width: 100%;}
.testimonials .content {height: 300px; background: url(/assets/img/bg_testimonials.jpg) 20px center no-repeat; background-size: 101px 223px;}
.testimonials .content h3 {color: #323232; font-size: 24px; text-align: center; margin: 35px 0 25px 0; font-weight: bold;}

/* CAROUSEL - Testimonials */
.carouselOuter {width: 85%; padding: 0 30px; height: 220px; position: relative; float: right;}
.carouselOuter #carousel {cursor: pointer; width: 100%; height: 220px; float: right; position: relative; z-index: 1; overflow: hidden; background:transparent; margin-bottom: 10px;}
.carouselOuter #carousel #scroller {width: 2149px; height:100%; float:left; padding:0; cursor: pointer;}
.carouselOuter #carousel #scroller ul {list-style:none; display:block; float:left; width:100%; height:100%; padding:0; margin:0; text-align:left}
.carouselOuter #carousel #scroller ul li {width: 250px; height: 220px; display:block; float: left; padding: 0 20px 20px 20px;}
.carouselOuter #carousel #scroller ul li:first-child {border-left:none}
.carouselOuter #carousel #scroller ul li p {color: #323232; font-size: 14px; line-height: 18px; text-align: left;}
.carouselOuter #carousel #scroller ul li p.name {font-weight: bold; margin: 10px 0;}

.carouselOuter #prev,
.carouselOuter #next {cursor: pointer; z-index: 8888; float: left; top: 25%; margin: -17px 0 0; padding: 0; width: 20px; height: 33px; position: absolute; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease;}
.carouselOuter #prev {left: 0; background: url(/assets/img/carousel_left.png) 0 0 no-repeat; background-size: 20px 33px;}
.carouselOuter #next {right: 0; background: url(/assets/img/carousel_right.png) 0 0 no-repeat; background-size: 20px 33px;}
.carouselOuter #prev:hover,
.carouselOuter #next:hover {-webkit-transform: scale(0.9); moz-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9);}

/* CUSTOM FOR MYVOX PAGE */
#myVox .main .content {width: 1100px;}
#myVox .main .content .column {width: 38%; margin: 0 0 30px 2%;}
#myVox .main .content .column:first-child {margin: 0 0 30px 0;}
#myVox .main .content .column.small {width: 16%;}
#myVox .main .content .column.small h3 {font-size: 22px; text-align: left; margin: 0;}
#myVox .categories {width: 100%;}
#myVox .categories .items {width: 100%;}

/* FOOTER */
.footer {background: #323232; color: #fff; width: 100%; height: auto; overflow: hidden; padding: 20px 10px; font-size: 14px;}
.footer .branding {float: left;}
.footer .branding .logo {float: left; width: 152px; height: 92px;}
.footer .branding .logo a {width: 152px; height: 92px; background: url(/assets/img/logo_footer.png) 0 0 no-repeat; background-size: 152px 92px; display: block;}
.footer .branding p {font-size: 12px; line-height: 17px; float: left; width: 210px; margin: 10px 0 0 25px;}

.footer .sitemap {float: left; margin: 10px 0 0 80px;}
.footer .sitemap ul {float: left; height: auto; overflow: hidden;}
.footer .sitemap ul li {margin: 0 0 8px 0;}
.footer .sitemap ul li a {color: #fff; text-decoration: none;}
.footer .sitemap ul li a:hover {text-decoration: underline;}

.footer .info {float: left; margin: 10px 0 0 80px;}
.footer .info ul {float: left; height: auto; overflow: hidden;}
.footer .info ul li {margin: 0 0 8px 0;}
.footer .info ul li a {color: #fff; text-decoration: none;}
.footer .info ul li a:hover {text-decoration: underline;}

.footer .social {float: right;}
.footer .social ul {float: left; height: auto; overflow: hidden;}
.footer .social ul li {float: left; margin: 10px 0 0 10px;}
.footer .social ul li:first-child {margin: 10px 0 0;}
.footer .social ul li a {position:relative; width: 30px; height: 30px; display: block; -webkit-transition: all 0.1s ease; -moz-transition: all 0.1s ease; -o-transition: all 0.1s ease; -ms-transition: all 0.1s ease; transition: all 0.1s ease;}
.footer .social ul li a.twitter {background: url(/assets/img/icon_twitter.png) 0 0 no-repeat; background-size: 30px 30px;}
.footer .social ul li a.facebook {background: url(/assets/img/icon_facebook.png) 0 0 no-repeat; background-size: 30px 30px;}

.footer .legal {font-size: 12px; text-align: center; width: 100%; float: left; margin: 80px 0 0;}

/* BUTTONS */
.cta {width: 400px; margin: 0 auto 50px auto; height: auto; overflow: hidden;}
.cta > p {font-size: 24px; font-weight: bold; float: left; padding: 20px 0 0; margin: 0;}

.buttonBlue {font-size: 24px; border: none; outline: none; font-weight: bold; text-decoration: none; color: #fff; background: #45b3bd; padding: 20px 32px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
.buttonBlue:hover,
.buttonBlue:focus,
.buttonBlue:active {background: #fff; color: #45b3bd; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}

.buttonLog {padding: 6px 12px; border: none; outline: none; font-size: 14px; font-weight: bold; background: #45b3bd; border: 2px solid #fff; text-decoration: none; color: #fff; text-align: center; display: block; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
.buttonLog:hover,
.buttonLog:focus,
.buttonLog:active {background: #fff; border: 2px solid #fff; color: #45b3bd; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}

.buttonSign {padding: 6px 12px; border: none; outline: none; font-size: 14px; font-weight: bold; background: #fff; border: 2px solid #fff; text-decoration: none; color: #45b3bd; text-align: center; display: block; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
.buttonSign:hover,
.buttonSign:focus,
.buttonSign:active {background: #45b3bd; border: 2px solid #fff; color: #fff; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}

a.buttonView {padding: 6px 12px; border: none; outline: none; display: table; margin: 20px auto; font-size: 14px; font-weight: normal; background: #323232; border: 2px solid #323232; text-decoration: none; color: #fff; text-align: center; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
a.buttonView:hover,
a.buttonView:focus,
a.buttonView:active {background: #fff; border: 2px solid #fff; text-decoration: none; color: #323232; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}

.buttonSearch {margin: 12px 10px; border: none; outline: none; float: right; padding: 4px 10px; font-size: 12px; font-weight: bold; background: #45b3bd; border: 2px solid #45b3bd; text-decoration: none; color: #fff; text-align: center; display: block; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
.buttonSearch:hover,
.buttonSearch:focus,
.buttonSearch:active {background: #e96656; border: 2px solid #fff; color: #e96656; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}


.buttonVox {float: right; margin: 3px 0 0 5px; padding: 3px 8px;  outline: none; font-size: 13px; text-decoration: none; text-align: center; display: block; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}
.buttonVox:hover,
.buttonVox:focus,
.buttonVox:active {-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}

.vox.open .buttonVox {border: 2px solid #fff; background: #fff; color: #e96656;}
.vox.open .buttonVox:hover,
.vox.open .buttonVox:focus,
.vox.open .buttonVox:active {background: #e96656; color: #fff; border: 2px solid #fff;}

.vox.resolved .buttonVox {border: 2px solid #fff; background: #fff; color: #b2d237;}
.vox.resolved .buttonVox:hover,
.vox.resolved .buttonVox:focus,
.vox.resolved .buttonVox:active {background: #b2d237; color: #fff; border: 2px solid #fff;}

/* HELPERS - float, clear, hide text */
.animate {-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-out; transition: all 0.5s ease-in-out;}

.left {float: left;}
.right {float: right;}

.clear {zoom: 1;}
.clear:after {clear: both;}
.clear:before, .clear:after {content: ""; display: table;}

.header .logo,
.splash .branding,
.carouselOuter #prev, 
.carouselOuter #next,
.header .searchButton,
.footer .social ul li a,
.footer .branding .logo a {color: transparent; text-indent: 100%; white-space: nowrap; overflow: hidden; display: block;}

/* CUSTOM SCROLLBARS - WEBKIT ONLY */
::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track {border-radius: 0;}
::-webkit-scrollbar-thumb {border-radius: 0; background: #45b3bd;}