
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  Below are the details of your vox #12345:
Bad delivery service
Driver placed (3) parcels by side door, in snow, directly in front of door. Had to go out front door
to get to the packages as the door would not open without knocking top parcels off. Did not
knock or ring bell and I was sitting directly in front of picture window, next to front door - with
larger, snow cleared porch - had I not seen truck leaving I would not have even looked out that
door to get parcels after dark.
I do realize that drivers are on a tight schedule but would have been much simpler to just come
to front door - I was waiting for delivery and would have opened door by the time the driver
arrived.
I am 71 years old and am disgusted with the decrease in services - prices go up and quality of
service decreases.
Additional Details
Order Ref #12345668981237198
Account #128937149719
What's next?
1. UmVox team is ready to forward your voice.
2. Share your vox and discover people who are in the same circumstance.
3. UmVox team will let you know once the addressee responds.
Check my Vox
UmVox Logo
© 2013 UmVox, Inc.
If you believe this has been sent to you in error, please safely unsubscribe. For more information, please see our privacy policy.
  </body>
</html>