<style>
.vox_entry {
    background: none !important;
    border: 0px !important;
    margin: 0 0 10px 28px;
    min-height: 141px;
    position: relative;
}

.vox_list_main #new1 {
    border-bottom: 1px solid #EFEEEE;
    float: left;
    height: auto;
    list-style: none outside none;
    margin: 0;
    padding: 27px;
    width: 624px !important;
}

.vox_list_main #new1 {
    border-bottom: 1px solid #EFEEEE;
    float: left;
    height: auto;
    list-style: none outside none;
    margin: 0 0 0 -33px !important;
    padding: 0 !important;
    width: 624px !important;
}
</style>
<div class="vox_manual">
<div class="vox_list_main">
            	<ul>
<% if post.posttype == 'Complaint' %>
<li id="new1" class="vox_entry complaint">
<% elsif post.posttype == 'Compliment' %>  
  <li id="new1" class="vox_entry compliment">
<% else %>  
  <li id="new1" class="vox_entry question">
<% end %>    
	   <div class="vox_type question">
                        	
                        </div>

<div class="vox_main_conte">
	                        	<div class="vox_main_conte1">
                            	<div class="vox_conte_cont">
                                <%= post.description.split(' ')[0,15].inject{|sum,word| sum + ' ' + word}  %>
                                </div>
                                <div class="vox_conte_cont1">
                                <div class="vox_conte_cont_cate">
                                <ul>
                                	<li>Category <span>Service</span></li>
                                    <li>Company <span class="company">Welmart</span></li>
                                </ul>
                                </div>
                                <div class="vox_conte_cont_comm_b">
                                	<ul>
									<% backer= 0 %>
				<% if post.comments.size > 0 %>
				   <% post.comments.each do |comment| %>
						<% if comment.is_backer == true %>
						   <% backer =backer+1 %>
					   <% end %>
				   <% end %>  
				<% end %>
                                    	<li><%= post.comments.size %> comments</li>
                                        <li><%= backer %> backers</li>
                                    </ul>
                                </div>
                                </div>
                                
                                <div class="vox_main_conte1_arrow">
                                </div>
                                
                            </div>
                            
                            <div class="vox_main_time_auth">
                            	<div class="vox_main_time_auth1"><%= post.created_at %></div>
                                <div class="vox_main_time_auth2">Posted By : John Deo</div>
                            	<div class="vox_main_time_auth_B"><a href="" class="read_more">Read More
								</a></div>
                            </div>
                            
                        </div>
		
		
		
</li>

<!-- -->

</ul>
</div>
</div>